[2016-02-24 20:53] cedricve opened #1 "KIOS buildroot configuration"
@ccrisan this is a follow-up ticket of kerberos-io/machinery#30, as suggested these are the tasks to be completed.
- [x] Stripped version of motionEyeOS
- [x] Install package for web
- [x] Install package for machinery
- [x] Wireless configuration
- [x] Testing
- [x] Packaging
- [x] Publish to master

[2016-02-28 17:51] ccrisan commented on #1
Alright. I pushed the promised code to the `develop` branch. It can be built by following [motionEyeOS's instructions](https://github.com/ccrisan/motioneyeos/wiki/Building-From-Source). The resulting image is a 220MB uncompressed file (~36MB gzipped) that can be written directly to the SD card.

The first boot will most likely take 1-2 minutes on a PI1, but subsequent boots will be significantly f

[2016-02-28 18:16] cedricve commented on #1
Crisan, nice! This is a huge step forward for our community. Making video surveillance available for everyone.. I will try to build the project on a VM, after this we can discuss creating the packages for both machinery and the web repositories. I think the machinery will be very easy, as it only has FFMPEG as a dependency; just need to cmake and make the project. The web will be more difficult, a

[2016-02-28 18:23] ccrisan commented on #1
The first boot will prepare the system by creating the data partition (with its required directory structure). The most time-consuming task at this step creating the SSH keys. If you'll plug in a monitor, you'll see the SSH service taking forever at first boot. With a RPI2 (or any other board for that matter), things are a lot faster.

I know WiFi is a must have and I never thought otherwise :) Bu

[2016-02-28 18:47] cedricve commented on #1
Thanks for the explanation, that makes sense. The problem I see with the bash script is that a lot of users are using Windows. It's ok for the flashing part with Win32Imager, but the writeimage.sh will of course not work for them.

For this reason I've [used a different approach](https://kerberosio.zendesk.com/hc/en-us/articles/202817502-How-to-connect-to-WIFI-). Isn't this something we can use fo

[2016-02-28 19:29] ccrisan commented on #1
Of course that's doable. But the best approach in my opinion is to prepare a customized image right from a web page that allows you to download it.

[2016-02-29 12:40] cedricve commented on #1
Hmm sounds good, we need to find a way to generate the image server-side and deliver it to the end users. It would be good if we would have a GUI (on a webpage) which let's a user select an existing WIFI connection; don't know if there are any libraries for this?

I've just created (879ae77baddb98fb160f39ae20ecb9fa45034111) two packages "web" and "machinery", I will experiment further with it..

[2016-02-29 16:08] ccrisan commented on #1
I could build a web service that handles all that. What I won't do is build a UI for it - I find it terribly difficult and tiresome. If there's anyone willing to wrap a UI around a restful/json/ajax API for that, then we have the solution.

[2016-02-29 16:40] cedricve commented on #1
Sure if you can create an API, then I'll help with the UI part.  Are they any other parameters required  then network properties?

[2016-02-29 17:32] ccrisan commented on #1
There are some advanced settings as well. I'll make a list. Or a mockup or something.

[2016-03-11 19:51] cedricve commented on #1
Machinery is succesfully compiled on the develop branch. Several patches where created to make it possible to cross-compile. A startup file has been added, which will start the machinery on boot.

[2016-03-13 11:47] cedricve commented on #1
Web is succesfully compiled. PHP (+extension) and NGINX is added, the web repository is compiled on the host and copied to the target library. Next is to fix the wireless connection.

[2016-04-01 12:39] cedricve commented on #1
Testing finished, now packaging and updating documentation. Expected release is 1 May 2016.

[2016-04-21 05:02] #1 closed, assigned to cedricve

[2016-05-09 09:12] nicolas-f opened #2 "Change /etc/passwd"
Hi,

I want to disable root login and add a custom admin account. However /etc/passwd is on read-only access file system.

How to:
- Disable root ssh login
- add account
- remove or disable ssh login of other installed account (ex: admin)

Thanks

[2016-05-09 11:15] cedricve commented on #2
Please check this: https://kerberosio.zendesk.com/hc/en-us/articles/208322325-I-can-t-edit-the-root-partition.

[2016-05-09 13:51] nicolas-f commented on #2
It works. However when I disable root, I can't log with admin account.. Have to reset the sd card.

[2016-05-09 13:51] #2 closed, assigned to nobody

[2016-08-20 19:43] cedricve opened #3 "Latest Raspberry Pi Camera module v2.1 doesn't work"
Firmware and userland libraries should be updated.

kerberos-io/machinery#45
kerberos-io/machinery#34

[2016-09-03 10:00] cedricve commented on #3
Fixed in new release v2.1.0

[2016-09-03 10:00] #3 closed, assigned to cedricve

[2016-10-17 04:17] mikaelhadler opened #4 "Private cloud storage?"
Hello Cédriv, i'd like to ask you if kerberos.io can support a private cloud service with owncloud locally?

[2016-10-17 09:26] cedricve opened #5 "Raspicamera shows black image after couple of days"
We've detected a problem with the Raspberry Pi camera. The issue is that the Raspberry Pi camera start showing black images after a couple of days; it occurs random. After investigation it looks like multiple Kerberos.io instances are initiated when using KiOS. The script which checks if Kerberos.io is running or not isn't working properly.

Due to this behavior the camera is locked and not showin

[2016-10-17 09:31] cedricve commented on #4
Hey @mikaelhadler no unfortunately we will not support this feature, as we maintain our own cloud solution.

[2016-10-17 09:44] cedricve commented on #5
A fix has been applied, I'll first test this myself and merge it once I verify that it resolved the issue.

https://github.com/kerberos-io/kios/commit/7b8d58db00a11ba6d9b418a3cca70030b28e9e5a

[2016-10-17 14:24] #4 closed, assigned to cedricve

[2016-10-18 11:12] EmPeWe opened #6 "security issue: memcached is listening on all interfaces by default"
According to https://github.com/memcached/memcached/wiki/ConfiguringServer the recommendation is: "...you must not expose memcached directly to the internet..."

It would be a better approach to start the daemon with -l 127.0.0.1 or even better using unix sockets (-s <file>), which is supported in php-memcached since version 2.0.0b1

[2016-10-18 13:36] cedricve commented on #6
thanks for the comment, we will integrate this in the next release.

[2016-10-25 06:21] cedricve commented on #5
Patch didn't fixed, issue is still there.

[2016-10-29 08:52] cedricve commented on #5
We add a new method for checking if the machinery is still running. c4d9c7c98e59c7129fe9faa9edf243c3d06c685e

We also detected the root cause of the machinery crashing. When a user connects kerberos.io with the cloud application, curl is used to transfer images, however it looks like curl is crashing due to timeouts at random intervals. By setting the curl option `CURLOPT_NOSIGNAL`, it will not lo

[2016-10-29 08:52] #5 closed, assigned to cedricve

[2017-03-21 10:11] mark-orion opened #7 "images for easy installation / testing on x86 / amd64 machines"
I think this project would benefit from kios images for x86 / amd64 systems. This would allow very easy testing or even using of kerberos-io on "standard" desktops and laptops by using virtualbox or a USB image. I am aware of people who do have an "old" computer sitting around that could do the job, but who do not want to buy a Raspberry Pi.

[2017-03-21 11:07] cedricve commented on #7
hey @mark-orion correct, this is the reason why we also ship Docker images. https://doc.kerberos.io/2.0/installation/Docker

[2017-03-21 12:11] mark-orion commented on #7
Yes I saw this, but for testing you probably want to use a USB camera and not an IP based one.

[2017-03-22 17:42] Pilskalns opened #8 "Raspberry Pi Zero W support"
Hi,

Tried Raspberry Zero KiOS image on Zero W but it even doesn't boot or blink any image. When I plug same SD card into regular Zero, it boots and works with USB wi-fi dongle _out of the box_. Also, my Zero W works with other distros.

So, I suppose fault is how SD card is prepared. What are possibilities to get it working on Zero W? :)

[2017-03-22 17:57] cedricve commented on #8
Hey @Pilskalns, we're preparing a seperate release to support Raspberry Pi Zero W. It will be available in a few days..

[2017-03-22 18:03] cedricve commented on #7
Well @mark-orion I hope this will be possible very soon. Don't know how far it progressed, so you can access an USB camera from a host system like OSX or Windows. Linux shouldn't be any problem.

http://stackoverflow.com/questions/41023827/accessing-usb-webcam-hosted-on-os-x-from-a-docker-container

https://forums.docker.com/t/how-to-share-an-non-storage-usb-device-between-host-and-container-on-os

[2017-04-04 13:30] matright commented on #8
Hi,
I'm also interested in this, do you have any news ?

Thank you

[2017-04-24 06:35] cedricve commented on #8
Hey all,

Can you please try this release:
https://github.com/cedricve/kios/releases/download/develop/kios-raspberrypi-20170425.img.gz

You can follow the advanced installation https://doc.kerberos.io/2.0/installation/KiOS#advanced

Cédric

[2017-04-24 18:56] cspanier commented on #8
Doesn't work for me. I only get the RGBC test image shown when powering up my Pi Zero W. The boot partition does not contain a 'bcm2708-rpi-0-w.dtb' file like e.g. raspbian jessie, which might be the cause.

[2017-04-25 05:33] cedricve commented on #8
hey @cmaaser sorry I created a wrong build..  Can you retry with this one.

https://github.com/cedricve/kios/releases/download/develop/kios-raspberrypi-20170425.img.gz

[2017-04-25 18:40] cspanier commented on #8
This build doesn't seem to boot either @cedricve . It is stuck again on the colored splash screen.

[2017-04-25 18:42] cedricve commented on #8
@cmaaser do you see the bcm2708-rpi-0-w.dtb file in /boot?

[2017-04-25 19:00] cspanier commented on #8
@cedricve Yes I do.

[2017-04-25 19:27] cspanier commented on #8
When replacing start.elf, fixup.dat and bootcode.bin from the latest raspbian image, which have significantly different file sizes, my pi0w boots up (but prints "Failed to create camera component ...." later on).

[2017-04-25 19:28] cedricve commented on #8
Great.. well that's because you didn't connect a raspberry pi camera. Can you access the web interface? I'm just reviewing the build process and it looks like I didn't upgraded the userland and firmware libraries. Cross-compiling right now. Thanks for helping!

[2017-04-25 19:32] cspanier commented on #8
Actually I do have a camera connected, but it is a new one which I haven't tested before on one of my other regular PIs due to lack of time. I'll test the camera and web interface tomorrow.

[2017-04-25 19:37] cedricve commented on #8
Could also be because of the userland library. I'll drop a new build in this topic in a few minutes.

[2017-04-26 06:43] cedricve commented on #8
@cmaaser updated the image again, let me know if you had time to check it out.
https://github.com/cedricve/kios/releases/download/develop/kios-raspberrypi-20170425.img.gz

bootcode.bin is now 50kb instead of 10kb

[2017-04-26 09:11] vincenzocostagliola commented on #8
Hi @cedricve ,
the latest image seems working.
I'm working with the RPI camera and kerberos cloud at moment.
Let me know if you need more info.

[2017-04-26 09:12] cedricve commented on #8
@vincenzocostagliola did you tried the image I've commented above? Can you confirm the RPI camera is also working?

[2017-04-26 09:23] vincenzocostagliola commented on #8
@cedricve Yes I've tried the image that you posted 3 hours ago.
Yes the RPI Camera ( Rev 1.3 Model) is working.

[2017-04-26 09:24] cedricve commented on #8
Ok perfect! let's wait for @cmaaser second approval, as he's using the newever RPI camera.

[2017-04-26 09:55] vincenzocostagliola commented on #8
@cedricve I've just tried the v2 Pi NoIR on another PI Zero W and it's working flawlessly.

[2017-04-26 09:57] cedricve commented on #8
Awesomeness @vincenzocostagliola ! Ok let's release this. I'll update the docs and created a new release. Can you also verify everything works as expected (e.g. the web interface and all it's pages). I just ordered a Pi Zero W yesterday.

[2017-04-26 10:17] vincenzocostagliola commented on #8
@cedricve Seems everything is fine. I've configured the motion and the cloud with no problem. System page also works as expected.

[2017-04-26 15:34] cspanier commented on #8
I can confirm that the latest image works flawlessly including camera (V2.1), web access and wifi. Thanks @cedricve !

[2017-04-26 15:38] cedricve commented on #8
Awesome guys, let's release the beast. Thank you all for testing and helping.

[2017-04-26 16:00] cspanier opened #9 "privacy issue: restrict access to camera live stream"
By default the camera live stream is served on http://<ip>:8889 and anybody on the same network can watch without authentication. Access should be limited to users currently logged in or by using some sort of access token if this feature is intended to be used by external applications.

[2017-04-26 16:02] cedricve commented on #9
hey cmaaser this one is duplicate, already added to the machinery. However thanks for noticing!
kerberos-io/machinery#80

[2017-04-26 16:02] #9 closed, assigned to nobody

[2017-04-26 16:08] cedricve commented on #8
Released https://github.com/kerberos-io/kios/releases/tag/v2.3.0

[2017-04-26 16:08] #8 closed, assigned to cedricve

[2017-05-13 13:58] carriba opened #10 "Support for UbuntuMATE on Raspberry Pi"
Next to [Raspbian](https://www.raspberrypi.org/downloads/raspbian), support also the installation of [Kerberos.io](https://github.com/kerberos-io) under the [UbuntuMATE](https://ubuntu-mate.org/raspberry-pi) OS for the Raspberry Pi.

[2017-05-13 16:48] cedricve commented on #10
Cool @carriba, nice idea! Unfortunately I don't have any time at the moment. If you would have time to give it a shot, I'd love to help you.. Would be a nice addition to our documentation website! Thanks man.

[2017-05-21 13:40] svatos opened #11 "Streaming on port 8889 is not password protected"
Hi, i was wondering if it's possible to **protect the streaming of live view** with a password like the admin dashboard is. It's easy to scan an IP with specific range of ports where 8889 is open and **unprotected** from an entry, especialy **if the IP is exposed** to the internet.

Thanks for any idea!
S.

[2017-05-25 19:13] Responseless commented on #11
I also noticed this issue while testing external access and would like to see it resolved.

[2017-05-25 19:41] cedricve commented on #11
we're giving priority to hardware encoding now, but we definitely take this one into account. Keep you posted.

[2017-06-11 20:46] kydouglas opened #12 "mac installer dropdown does not list version"
(kios darwin on mac 10.12.5)
etcher fork does not display version on dropdown menu when trying to make images for sd card

https://ibb.co/geyskv

How to I load .img or is this a bug?

[2017-06-11 20:47] cedricve commented on #12
Might take a couple of seconds before it's loaded..

[2017-06-18 06:15] Cliff-R-K opened #13 "Can't get vidoestream to show in web-ui and questions about using plugin in docker"
I tried installing using docker on debian 8 and am planning to use multiple IP-cameras acording to the documentation. I am trying to add the first IP-camera using the default docker-compose.yml (which I do not need to modify if I understand correctly ?)

I can access the web-ui and tried adding the path to my ip camera like: "http://192.168.0.37:82/videostream.cgi?user=admin&pwd=&resolution=32&rat

[2017-07-07 10:52] danricho opened #14 "apt-get / dpkg is not available on kios"
I'm not sure if I'm missing something, but running a dedicated kios instance on raspberry pi 2 means that my scripts can't use anything dependent on installing somthing via apt-get.

[2017-07-07 10:53] danricho commented on #14
By the way, I am accessing it via ssh.

[2017-07-07 11:20] cedricve commented on #14
Correct, kios is an production image. If you want to install custom packages, you should follow the raspbian installation.

[2017-07-07 11:21] danricho commented on #14
ok. Thanks for that.

[2017-07-07 11:21] #14 closed, assigned to nobody

[2017-07-15 15:32] cedricve commented on #11
fixed in version 2.3.0, KiOS 2.4.0

[2017-07-15 15:32] #11 closed, assigned to cedricve

[2017-07-16 15:27] Responseless opened #15 "RaspiCam 1080p mode no longer working on v2"
After a clean install of v2.4.0 I cannot use the resolution of 1920x1080 any longer with Camera Module v2, I had to scale back to 720p mode. I am running a Pi v3. Is there a list of working resolutions/rates for this setup?

[2017-07-16 15:28] cedricve commented on #15
Hmm did't tried that resolution. However recommended resolution is 1280 x 960.

[2017-07-16 16:04] Responseless commented on #15
1280 x 960 is working as expected.

[2017-07-16 16:29] cedricve commented on #15
@Responseless if you have time to check out which resolution work as expected, let me know ;)

[2017-07-16 16:46] cedricve commented on #13
hey @burton666, great you've found a fix for the livestream. However MJPEG isn't the best option, you should use a RTSP supported camera.

To use people counting, just follow the tutorial, and make sure you've the correct settings configured.

[2017-07-16 16:47] cedricve commented on #12
we'll update the current installer.

[2017-07-16 18:35] Responseless commented on #15
@cedricve haha! If I find any higher resolutions that are working correctly I will post results.

[2017-07-16 21:46] Responseless opened #16 "Webhooks throttling"
I would like to request a feature to manage web hooks sending multiple requests within a set time range of milliseconds.

[2017-07-18 08:51] cedricve opened #17 "IPCamera url broken after upgrade"
URL tag is corrupt after upgrade.

    <IPCamera>
        <url type="text">http://admin:Whatever2018@192.168.0.11:99/videostream.cgi?user=admin<url type="text">rtsp://admin:888888@192.168.0.13/tcp/av0_1</url>amp;pwd=Whatever2018</url>
        <frameWidth type="number">640</frameWidth>
        <frameHeight type="number">480</frameHeight>
        <delay type="number">1000</delay>
        <angle type

[2017-07-19 21:20] traitors-gate commented on #16
+1 ... when I use webhooks to alert my iPhone using IFTTT, I'm currently getting an alert every second. It would me good to have a webhook timeout setting e.g. Only post one message every X seconds.

[2017-07-20 08:54] cedricve commented on #16
Good point guys, let's do this!

[2017-07-31 04:44] paulbakker commented on #8
There are 3 images in the releases (kios-raspberrypi-20170425.img.gz, 98.6 MBkios-raspberrypi2-20170425.img.gz, 98.6 MBkios-raspberrypi3-20170425.img.gz). Which one is the correct one for the pi zero?

[2017-07-31 05:55] cedricve commented on #8
@paulbakker kios-raspberrypi-20170425.img.gz is the correct one.

[2017-07-31 15:01] iooner opened #18 "Any RTSP, ... output ?"
Hi!
There is any output like a snapshot, rtsp,... to embed in zoneminder for example ?

Thank !

[2017-07-31 15:06] cedricve commented on #18
hey @iooner, yes you can embed the MJPEG stream as following. With 8889 the default port of the MJPEG streaming.

    <img src="http://ip-of-kios:8889"/>

[2017-07-31 15:06] #18 closed, assigned to cedricve

[2017-07-31 19:17] iooner opened #19 "Password set at every reboot"
Hi!
At every reboot, Kios ask to set the password.

[2017-07-31 19:17] cedricve commented on #19
Not sure what you mean, can you supply a screenshot?

[2017-07-31 21:35] traitors-gate opened #20 "Static IP config and bash script need seperating for WiFi and ethernet"
I wanted to connect an IP camera to the Ethernet port of the RaspPI and use the wifi to connect to my router guest network. (IP camera with infrared was cheap but I don't want it on my main network!). I couldn't figure out why the IP address of the wired Ethernet kept changing but then I noticed the static IP confit file only had one address variable and the bash script

[2017-07-31 21:38] traitors-gate commented on #20
... for the networking did something funky. I'm no expert with bash scripts but after switching into debug mode managed to hack the script such that the Ethernet is always hard coded and the static IP Config only applies to the WiFI. It would be good to have 2 separate entires in the static IP config?

[2017-07-31 21:40] traitors-gate commented on #20
Confit=config... sorry, I can't type tonight :-)

[2017-08-01 13:51] #15 closed, assigned to cedricve

[2017-08-13 04:12] badams commented on #12
@cedricve any work arounds for this in the mean time? pretty keen to try kerberos out, it looks great. but the advanced installation guide is missing from the docs and currently the mac installer doesn't seem to work due to this issue.

[2017-08-13 04:13] cedricve commented on #12
hey @badams how do you mean is missing?

[2017-08-13 04:18] badams commented on #12
@cedricve  The advanced installation button is greyed out and doesnt link anywhere

<img width="662" alt="screen shot 2017-08-13 at 4 16 20 pm" src="https://user-images.githubusercontent.com/340715/29246102-d9adb09e-8042-11e7-8c96-fa60436cdf48.png">

btw, thanks for the quick response :)

[2017-08-13 04:19] cedricve commented on #12
No problem, just curious which browser you're using? Works on chrome.

[2017-08-13 04:23] badams commented on #12
Ah I see, looks like a js issue. I'm also using Chrome, I found i can just switch the `display:none` off in the web inspector to view the guide.

I'm getting some errors in the console

<img width="485" alt="screen shot 2017-08-13 at 4 20 11 pm" src="https://user-images.githubusercontent.com/340715/29246123-8450ed9a-8043-11e7-8195-c82b82807a26.png">

Looks to be related to this 500 error

<img wid

[2017-08-13 04:25] cedricve commented on #12
That's weird can you clear cache or so? What happens if you open this file directly http://doc.kerberos.io/js/vendor/requirejs/require.js

[2017-08-13 04:29] badams commented on #12
Cleared cache, and tried to access that file directly;  and got `ERR_TOO_MANY_REDIRECTS`

[2017-08-13 04:30] cedricve commented on #12
Can you try once more @badams disabled our CDN.

EDIT--
Nevermind got it myself now. Thanks for reporting!

[2017-08-13 04:32] badams commented on #12
Still the same @cedricve, not sure if this is helpful but.. accessing `https://doc.kerberos.io/js/vendor/` shows a stacktrace stating

[code]

[2017-08-13 04:33] cedricve commented on #12
@badams ok should be fixed now @badams. Indeed dependenices were missing.

[2017-08-13 04:33] badams commented on #12
Working now, thanks! also sorry to hijack this issue @kydouglas

[2017-08-13 04:35] cedricve commented on #12
no problem, great you reported it! I didn't was aware as i still used the existing files in the CDN (and not a fresh copy). Regarding the installer did you already tried to restart it? I've seen the issue with not loading the versions before, but I resolved it by restarting it.

[2017-08-13 04:38] badams commented on #12
@cedricve no problem at all, at this rate (assuming kerberos works well) I'll be signing up for the cloud service to manage a few instances.

Yes I tried restarting and reinstalling the installer, also tried leaving it open for a while incase it was downloading in background.  would be useful if I could turn on debug mode or find some error logs.

[2017-08-13 09:43] badams commented on #19
Ran into this too.

I unplugged my RPi  and plugged back in, but when I tried to log into Kerberos i was asked to create a user account again.

This seems to be caused by [this line](https://github.com/kerberos-io/web/blob/283f053a8e975f18279b2608478347ee4ad029d9/routes/web.php#L26)

My understanding is that when the app is restarted the config values are just read from [this file](https://github.

[2017-08-13 10:47] cedricve commented on #19
thanks for reporting @badams, well the config should be updated when finishing the welcome page.
https://github.com/kerberos-io/web/blob/283f053a8e975f18279b2608478347ee4ad029d9/app/Http/Controllers/UserController.php#L38-L58

Not sure what is going wrong there.

[2017-08-13 13:13] cedricve commented on #19
@badams just tried it myself using v2.4.1 but couldn't reproduce. Can you try it again with a fresh install?

[2017-09-22 08:39] Stubbs commented on #16
I would prefer to have 1 webhook triggered per event, at the moment my Node-red instance gets DDoS'd whenever Kerberos-io detects movement :-)

Perhaps a call when it detects a new event, and another when the event ends.

[2017-09-22 09:38] cedricve commented on #16
Yes, we will add throttling but didn't found the time to implement it.
Follow up here https://github.com/kerberos-io/machinery/issues/96.

[2017-09-22 09:38] #16 closed, assigned to cedricve

[2017-11-01 14:39] cedricve opened #21 "Upgrade SSL to 1.0.2"
https://github.com/ccrisan/motioneyeos/blob/master/package/openssl/openssl.mk

[2017-11-01 14:40] cedricve commented on #19
Will be fixed in next release.

[2017-11-16 10:20] cedricve commented on #21
fixed in KiOS v2.5.0

[2017-11-16 10:20] #21 closed, assigned to cedricve

[2017-11-16 10:20] cedricve commented on #19
fixed in KiOS v2.5.0

[2017-11-16 10:20] #19 closed, assigned to nobody

[2017-12-16 00:03] kwolk opened #22 "Apple HomeKit compatibility?"
Is there a chance of getting a stream of this directly into the HomeKit app in Apple's ecosystem?

[2017-12-17 17:01] SergeyPiskunov opened #23 "Live stream is available for anonymous users"
Hey, guys! I've installed the KIOS on my RPi, changed default passwords, and have found that I still have access to my live stream via xxx.xxx.xxx.xxx:8889 with no credentials needed.

[2017-12-17 19:10] cedricve commented on #23
correct @SergeyPiskunov, you should add credentials to the live streaming endpoint by using the advanced tab on the settings page.

[2017-12-17 19:10] #23 closed, assigned to nobody

[2018-01-10 19:15] traitors-gate opened #24 "Kios 2.5.0 update has broken kios (corrupted configs)"
(5/5) ErrorException
Undefined index: file (View: /var/www/web/resources/views/settings_controls.blade.php) (View: /var/www/web/resources/views/settings_controls.blade.php) (View: /var/www/web/resources/views/settings_controls.blade.php) (View: /var/www/web/resources/views/

[2018-01-20 15:13] traitors-gate commented on #24
Had time to try rebuilding my camera setup from scratch. Everything worked great until I uplifted to 2.5.0. I now have same issue as originally reported. The KIOS configuration page on the GUI throws a 5/5 ErrorException on a Mac using safari. Install is on a pi 3 and the camera is IP, network is wired ethernet.

[2018-01-20 19:08] cedricve commented on #24
hey @traitors-gate, can you send me the system files? I think your capture.xml config file is corrupted, while upgrading.

[2018-01-21 09:50] traitors-gate commented on #24
I have fixed it by installing the new version directly onto the SD card through the installer.

For some reason the upgrade through the kios UI corrupts the config file. I tried 3 times and the same thing happened.

Sorry but I don’t have a copy of the corrupted files - I only had one SD card and I had to fully reformat it to get the kios installer to work.

Thanks

Adrian

[2018-01-22 15:10] cedricve commented on #24
we'll fix this in next release.

[2018-01-22 15:11] cedricve commented on #24
@traitors-gate can you send me your current logs (although they work properly now).

[2018-01-22 15:12] cedricve commented on #17
Related to kerberos-io/kios#24

[2018-01-22 15:12] #17 closed, assigned to cedricve

[2018-01-23 10:47] cedricve opened #25 "Modify reboot on wifi lost to restart wifi"

[2018-01-24 09:09] traitors-gate commented on #24
Sorry, I will not have time to pull the logs until the weekend. I noticed that you referenced a camera url bug (#17) - here is my camera URL if that helps:

http://admin:password@10.10.10.200/snapshot.jpg?user=admin&pwd=password&strm=0

[2018-02-02 13:41] cedricve commented on #24
will be fixed in version 2.6.0

[2018-02-02 13:41] #24 closed, assigned to cedricve

[2018-02-15 00:26] espressobeanies opened #27 "Issue storing login credentials and reverting to wizard setup"
OS: KiOS v2.6.0
Platform: Raspberry Pi 2

Issue: KiOS isn't storing the login credentials generated during an initial wizard setup and is re-prompting the wizard after a set number of minutes. Once the wizard completes a second time, the initial settings reappear.

[2018-02-15 07:32] cedricve commented on #27
Weird should be fixed by now. Which browser are you using? Is this a fresh install?

[2018-02-20 22:12] espressobeanies commented on #27
Mozilla Firefox and yes it was.

**Update**

I confirmed same issue via Google Chrome and appears to occur frequently. It could be related to a mounted read-only filesystem. I'll confirm this later.

On Thu, Feb 15, 2018 at 2:32 AM, Cédric Verstraeten <
notifications@github.com> wrote:

[2018-03-07 04:47] espressobeanies commented on #27
Resolved in v2.6.0 via /data/etc/kios.conf file

[2018-03-07 04:47] #27 closed, assigned to nobody

[2018-03-07 06:41] cedricve commented on #27
hey @espressobeanies, how do you mean resolved with /data/etc/kios.conf?
Can you explain your research?

[2018-03-23 12:59] hechz opened #29 "KiOS Not rebooting on network disconnect?"
The "Force network mode" option is not rebooting devices when they are not connected to my wireless network.

[2018-03-23 18:53] cedricve commented on #29
Thanks for reporting @hechz, can you explain the different scenarios you've tested to draw this conclusion? Thank.

[2018-04-15 10:16] loki-sft opened #30 "not booting on RPI 3 B+"
I hava a running Instance based on Raspbian without any issue.
Then I wanted to try out the KIOS version but the rpi is not booting. Red LED is just flashing.

I had the same issue when I switched from the rpi 3b to 3b+ with noobs image without upgrading.

[2018-04-20 05:10] cedricve commented on #30
I'll check what kernel we need to use. Thanks for reporting.

[2018-05-05 15:07] ghost commented on #30
Any updates? Same issue here.

[2018-05-19 19:33] cedricve commented on #30
can someone test this pre-release: https://github.com/cedricve/kios/releases/download/develop/kios-raspberrypi3-20180519.img.gz

This includes support for 3B+.

[2018-05-19 20:47] ghost commented on #30
Thank you, will try when I get home!

Sent from my iPhone

[2018-05-22 06:54] cedricve commented on #30
@acvigue keep me posted if this worked for you.

[2018-05-22 07:34] cedricve commented on #29
We've have this fixed in KiOS 2.7.0 (will be released soon).

[2018-05-22 07:35] #25 closed, assigned to cedricve

[2018-05-22 10:45] Polodu13 commented on #30
Dear Cedric, I tested the version https://github.com/cedricve/kios/releases/download/develop/kios-raspberrypi3-20180521.img.gz. It's working on my Pi3  but not on Pi 3B+. I can't download the pre release:
https://github.com/cedricve/kios/releases/download/develop/kios-raspberrypi3-20180519.img.gz

[2018-05-22 11:06] ghost commented on #30
It boots and works for me

[2018-05-22 11:16] Polodu13 commented on #30
Acvigue, which version or which path to download?

[2018-05-22 11:33] ghost commented on #30
Excuse that message, I had multiple GitHub issues in my inbox and replied to the wrong one. I actually get a 404 error when downloading the prerelease that you linked.(20180519)

[2018-05-22 16:39] cedricve commented on #30
@acvigue not sure what your final conclusion is? Does it work?

[2018-05-22 19:42] ghost commented on #30
No I could not download the link you sent. It gave a 404 not found error.

Sent from my iPhone

[2018-05-23 07:06] cedricve commented on #30
Please find it here: https://github.com/cedricve/kios/releases/tag/develop

[2018-05-23 07:56] Polodu13 commented on #30
Hello, I just tried with https://github.com/cedricve/kios/releases/download/develop/kios-raspberrypi3-20180523.img.gz but it's not working on my Pi.

[2018-05-23 11:39] cedricve commented on #30
ok thanks for testing.

[2018-05-24 09:33] cedricve commented on #30
@Polodu13  can you try again, there is a new image available. Thanks!

[2018-05-24 10:09] Polodu13 commented on #30
Salut Cédric,
It's not booting on my pi 3B+. It's booting & working on Pi 3B...

[2018-05-24 16:38] cedricve commented on #30
you used the 24/05 image?

[2018-05-24 20:20] cedricve commented on #30
Hmm indeed something was missing, I'm recompiling the image again. Keep you posted.

[2018-05-24 20:57] Polodu13 commented on #30
Well noted

[2018-05-25 05:13] cedricve commented on #30
Ok @Polodu13, should be ok this time. https://github.com/cedricve/kios/releases
Can you try once more?

[2018-05-25 05:50] Polodu13 commented on #30
I just tried but it's the same. Booting on pi3b but not on 3b+. I used https://github.com/cedricve/kios/releases/download/develop/kios-raspberrypi3-20180525.img.gz

[2018-05-25 10:35] cedricve commented on #30
Hmm looks like the rpi3 image wasn't updated, recompiling it once more. Should be ok after this. I'll drop a message when it's ready.

[2018-05-25 14:52] cedricve commented on #30
@Polodu13  ok this time it should be working. Please let me know.

[2018-05-26 08:59] Polodu13 commented on #30
@cedricve It's booting now. But  I can not configure the WIFI network and I have trouble sharing the stream on port 8889. I sent you the logs on cedric@verstraeten.io

[2018-05-26 09:56] cedricve commented on #30
Hmm it looks like it was crashing at the beginning. Can you send me the wpa_*.conf file ?
Also which browser are you using?

[2018-05-26 10:34] marcel31415 opened #31 "wpa_supplicant not starting on RaspberryPi 3 B (no device)"
Hi!

Updating via webinterface from 2.6.1 to 2.7.0 failed, so I reflashed it (Etcher).
But the Pi did not appear in my local network. Checking the boot process on my monitor exposed the problem: wpa_supplicant does not start as it does not find a device.
Flashed it two times, tried two different Rasp 3 Bs. Flashing 2.6.1 works.

[2018-05-26 10:45] cedricve commented on #31
thanks @marcel31415, I disabled 2.7.0 temporary as I'll resolve the issue first before other people are affected. keep you posted.

[2018-05-26 12:06] Polodu13 commented on #30
I'm using firefox. I sent you the wpa_*.conf file to cedric@verstraeten.io

[2018-05-26 12:07] cedricve commented on #30
hmm I was able to reproduce, something is missing the new RPI3 missing.

[2018-05-27 07:45] cedricve commented on #30
Support for Raspberry Pi 3B+ fixed, however having an issue with wpa_supplicant.
Linked issue: https://github.com/kerberos-io/kios/issues/31.

[2018-05-27 07:46] cedricve commented on #31
It looks like something is changed since latest raspbian kernel release. The problem is also appearing on the Raspberry Pi Zero W. So there might changed something for the onboard wifi.

[2018-05-27 08:16] Polodu13 commented on #30
@cedricve . FYI i'm not able to change the angle and resolution of pi cam on your last release https://github.com/cedricve/kios/releases/download/develop/kios-raspberrypi3-20180526.img.gz

[2018-05-27 10:22] cedricve commented on #30
@Polodu13  can you send me the logs? How did you update the camera settings?

[2018-05-27 20:05] Polodu13 commented on #30
@cedricve . I change on settings/machinery/advance/captur//frameWidth etc. when I validate but changes are not updated.

[2018-05-28 06:56] cedricve commented on #30
@Polodu13 did some more tests and it should be working now (both WIFI and editing config files). Let me know how it goes. Can you also check Pi3B+ support? thanks!!

[2018-05-28 08:25] Polodu13 commented on #30
@cedricve . Angle and camera resolution are working good. Thanks. For the moment I m not able to use wifi... i continue to check if i need to change the file... what do you mean by  "Can you also check Pi3B+ support"?

[2018-05-28 09:29] cedricve commented on #30
Thanks for testign @Polodu13, you are still not able to use WIFI, or you don't know how to configure it?

[2018-05-28 09:30] cedricve commented on #31
Hey @marcel31415, we've updated the image. Can you try again?

[2018-05-28 09:53] marcel31415 commented on #31
I've just updated via web-interface and the RaspPi 3 came back online. Seems to work properly. Thank you!

[2018-05-28 10:14] Polodu13 commented on #30
Hello, I used the same file as for the pi3 which is working well but it's not working on pi3 b+. I already sent this file to you (wpa_supplicant.conf.txt). Actually, I don't know what to change

[2018-05-28 16:48] #31 closed, assigned to nobody

[2018-05-28 16:51] cedricve commented on #30
Hmm weird, can someone else confirm having issues with the pi3B+?

[2018-06-02 23:02] failfailsucceed commented on #30
2.70 boots and I can connect via ethernet  but the pi3B+  onboard wifi device is not recognized.

[2018-06-03 18:57] #29 closed, assigned to cedricve

[2018-06-03 18:58] cedricve commented on #30
should be fixed in this release: https://github.com/cedricve/kios/releases/tag/develop.

Can someone try? @Polodu13  @failfailsucceed ?

[2018-06-04 10:26] Polodu13 commented on #30
@cedricve hello, Wifi is working now but I have trouble sharing the stream on port 8889. I sent you the logs on cedric@verstraeten.io

[2018-06-04 11:10] cedricve commented on #30
hey @Polodu13, what is the issue? I see that you're continously restarting the machinery?

[2018-06-04 11:30] Polodu13 commented on #30
I tried to see the video via ip:8889 on firefox but it's not working. I can see the video few second and after... blackout... I tried to restart the pi, changed cam resolution, I tried via ethernet. It's seem that the video crash after few second. However, I still have access to kerberos tabs

[2018-06-04 11:31] cedricve commented on #30
that explains a lot .. Mozilla doesn't support this feature. You should use Chrome.

[2018-06-04 11:58] Polodu13 commented on #30
Noted, but I downloaded chrome and it's the same. It's working few seconds and after I lost the video. On activity tab it's written: No stream, is machinery running?

[2018-06-04 11:59] cedricve commented on #30
Can we do a teamviewer session, I would like to see it.

[2018-06-05 20:07] #30 closed, assigned to cedricve

[2018-06-06 07:35] ChieftainY2k opened #32 "KIOS 2.7.0 on Raspberry Pi 3 , web UI not accessible (reboot needed to bring it back)"
Hello.

I have a fresh installation of KIOS 2.7.0 on RPI 3.
From time to time there is an issue with accessing the web UI - the HTTP requests freeze then time out
Tested with Firefox, Chrome, curl, wget.

That's how it looks from the KIOS shell:

[code]
.......... etc. until wget permanently fails.

In the meantime the machinery seems to be working fine:
[code]

The web UI is responsive again only

[2018-06-06 07:42] Responseless commented on #32
I am also getting very slow web response and timeouts with the latest version. RPI 3, PICam2.1.

[2018-06-06 07:44] cedricve commented on #32
I've noticed it as well last night, any help could be helpfull.

[2018-06-06 08:19] cedricve commented on #32
@Responseless @ChieftainY2k can you give me your hardware details? Which pi and ethernet or wifi

[2018-06-06 08:25] Responseless commented on #32
@cedricve Hey Cedric, Raspberry Pi 3 Model B Rev 1.2. Linux kios-b14a3fc8 4.14.30-v7. Running over Wifi.

[2018-06-06 08:26] cedricve commented on #32
thanks, is it just the web interface that's timing out, or is it the SSH connection also?

[2018-06-06 08:32] Responseless commented on #32
Just the web as far as i could tell. I was watching top and the cpu usage wasn't high for anything so it was odd. Clicking through the older recordings takes a long time to load the thumbnails/previews and thats where it stalls.

[2018-06-06 08:38] cedricve commented on #32
Hmm yeah, not sure if it's caused by the raspberry/linux version. I'm creating a new release with the newest linux kernel. Do you have an idea after how many minutes the issue starts happening? or is it random?

We have a couple of issues with 2.7.0, so I marked it as prerelease / beta.

[2018-06-06 08:55] Responseless commented on #32
@cedricve Not sure how long until it starts acting up but it works perfectly after a reboot. Also when you marked it as a beta just then it shows as a new version in the web. 'Good news, a new release of KiOS is available!' v2.7.0-beta ;)

[2018-06-06 08:59] cedricve commented on #32
Fuck 🗡 I'll revert the name, and keep it in beta release. How long was the system running before you noticed it?

[2018-06-06 09:03] Responseless commented on #32
@cedricve haha. I don't sit here and watch it all day so I couldn't really guess but I would guess hours. Mine has been up for 21 hours and has the issue. I will reboot it and see if I can notice how long it takes but no guarantees since its almost dark so there will be a lot less activity on the camera soon.

[2018-06-06 09:07] cedricve commented on #32
Ok, I'll try to simulate it. Thanks for all the info @Responseless!

[2018-06-06 09:17] marcel31415 commented on #32
I can't confirm any timeouts.
I will try to write a script and will keep an eye on it for a couple of hours.

@Responseless @ChieftainY2k
Did you both set up a brand new installation?

[2018-06-06 09:19] cedricve commented on #32
@marcel31415 indeed they did.

[2018-06-06 09:20] #7 closed, assigned to cedricve

[2018-06-06 09:21] #10 closed, assigned to nobody

[2018-06-06 09:22] cedricve commented on #22
not on the roadmap so far, would be amazing if someone could test this, or research what needs to happen to make this work.

[2018-06-06 09:22] #22 closed, assigned to nobody

[2018-06-06 09:40] marcel31415 commented on #32
[code]

I am not that good in shell, but i think this should work.
It will return "302" is the page is found. If not, it will send the ouput to the log file.

If you have anything better feel free to post it and improve my poor script.
I will now start keeping an eye on that.

UPDATE:
I think i just made it crash ;-)
Maybe the curl request were to fast...  so increased the "sleep"

UPDATE2:
The ma

[2018-06-06 10:01] Responseless commented on #32
I made it lock up but it does eventually load. It takes 1.6 minutes to return an xhr request to the date page at /images/05-06-2018 > /api/v1/images/05-06-2018/12/1/11. I do not have many images or videos to load.

Edit: Just got the 500 Internal Server Error from /api/v1/images/05-06-2018/12/1/8 . That took 2.7 minutes to die.

[2018-06-06 10:07] cedricve commented on #32
Hmm, that's crazy do you have steps to reproduce?

[2018-06-06 11:45] cedricve commented on #32
Ok thanks for testing @Responseless and @marcel31415 , would be great if we can confirm it doesn't happens on the 2.6.1 release.

[2018-06-06 12:12] Responseless commented on #32
@cedricve I can reproduce. Reboot, log in to the website. Click on the date on the left then click half way down a busy time of the timeline. I have about 3000 images/videos.

I have a suspicion that it's $getID3->analyze() is the culprit in my testing. You added this in 2.5.1 ?

[2018-06-06 12:19] cedricve commented on #32
Nope, it has been there for a couple of releases.

2018-06-06 14:12 GMT+02:00 Responseless <notifications@github.com>:

[2018-06-06 12:29] Responseless commented on #32
@cedricve The getID3->analyze was the problem for me. I replaced the getMetadata with an empty object and did a basic string check of the file extension and it's instant now. The issue was with a large number of files and the metadata processing. Maybe we just didn't notice in earlier releases?

It seems when the while loop is checking metadata it locks up the whole website.

[2018-06-06 13:03] cedricve commented on #32
thanks for reporting @Responseless, I do this to check if video files are valid. As it might happen that corrupt video files are shown in the browser.

[2018-06-06 13:03] cedricve commented on #32
@ChieftainY2k how many files have you stored on your system?

[2018-06-06 15:58] ChieftainY2k commented on #32
@cedricve
- Hardware: BCM2835 (Revision: a020d3 => **RPI 3B+ with wifi NIC onboard**)
- Number of KIOS-saved images and videos: **2137**
- Number of files in the system as reported by "find / | wc -l": **68092**

The HTTP server hangs in a pretty random fashion. Sometimes after an hour or so, sometimes after I play around with the GUI. I will try to reproduce it somehow.

[2018-06-06 16:29] cedricve commented on #32
@ChieftainY2k  can you temporary move the /data/machinery/capture folder to another directory, so that this directory is empty. Just wondering if like @Responseless states, it's caused by the number of images.

[2018-06-07 06:57] ChieftainY2k commented on #32
@cedricve Ok, I've just removed all saved media files and rebooted, will see what happens when the machine directory fills up.

[2018-06-07 18:27] ChieftainY2k commented on #32
The problem seems to be gone with the newest KIOS v2.7.1 , will report back if it happens again.

[2018-06-07 18:28] cedricve commented on #32
thanks @ChieftainY2k  I reverted something in the machinery + upgraded firmware

[2018-06-07 18:28] #32 closed, assigned to cedricve

[2018-06-24 03:40] TheButterZone commented on #12
How do I get the Mac KiOS installer (_Select a version_ dropdown empty) to see https://github.com/kerberos-io/kios/releases/download/v2.7.1/kios-raspberrypi3-20180607.img.gz (downloaded) so I can do the GUI configuration before flashing with it?

[2018-07-20 19:19] ricardolsfranca opened #33 "livestrem fails on dashboard when all requests are made through https"
I've been testing kerberosio in a remote installation connected to the internet through a 4G modem. All the traffic passes through a VPN server that redirects all requests to the machine running kerberosio. Recently, I've configured **letsencrypt** on **nginx** for obtaining a Qualys A security configuration. When setting all requests to be redirected to https, the live stream on the dashboard doe

[2018-07-21 19:34] cedricve commented on #33
Hmm interesting, can you provide some details about the nginx config @ricardolsfranca ?

[2018-07-23 17:51] ricardolsfranca commented on #33
Here's the configuration file. Maybe it's a misconfiguration.
I've attached the configuration file for SSL.
[kerberosio.txt](https://github.com/kerberos-io/kios/files/2220495/kerberosio.txt)

[2018-07-28 18:35] Wonderbox2000 opened #34 "change port of web access"
Hi,

I'm trying KiOS which is pretty good !
I just want to know if I can change the web access port number.
Default port is 80, I want to change it 1234 for instance.

Thanks

[2018-08-05 11:06] mario-g0 opened #35 "How to access the folders? (etc/opt/...)"
In all the docs I can't find any instruction on how to access the various folders talked about.
I'm on macOS and I see a connected device called "kios-some numbers", if I click on it it shows 2 folders web and machinery, but trying to open it and it closes the connection (the original element can't be found)
where the hell is etc/opt/blablabla? how am I supposed to retrieve the video files since t

[2018-09-07 22:39] wicadmin opened #36 "How to use an encrypted wifi password?"
It doesn't appear passwords from wpa_passphrase works in the wireless.conf file. How can one not put their true wifi password on kios?

[2018-10-20 20:06] stenwt opened #37 "kios "configuration" ui never loads on Pi Zero W"
On both an installation of Kios v2.7.2 that's been running for a few days, and a new installation with no configuration applied, I'm getting the "configuration" screen hanging/never loading ![screenshot from 2018-10-20 14-54-31](https://user-images.githubusercontent.com/149782/47260038-3f201a80-d479-11e8-91a0-a0ed995ad6a8.png)
. System and dashboard load fine. The system loadavg is roughly 1, logs

[2019-02-11 13:26] nopub opened #38 "kerberos-io keeping trying to start machinery"

[2019-02-11 13:34] nopub commented on #38
Hi,

I'm trying to setup a PI3B surveillance system and used KiOS-linux-x64.AppImage to flash an SD card.
When booting the Raspberry the system keeps looping and displaying the same messages again and again (difficult to capture). I have to admit that I'm pretty new to Raspberry and Linux.

After booting the Raspberry with the flashed SD card, I always see the following lines.

.
.
OMX_GetHandle(O

[2019-02-12 06:16] cedricve commented on #38
Hello make sure you have selected the right camera. By default is uses the Raspberry Pi camera.

Cédric

[2019-02-12 09:14] nopub commented on #38
Hi,
I thought I could change it onces kios had booted. I'll change the config and capture xml (for IPCamera and rtsp address) on the SD card and retry.
Fabrizio

[2019-03-15 20:37] bennybubble commented on #38
Same issue here, I've loaded the latest image on a card and rebooted. On the monitor it keeps scrolling and complaining like above...
However I do not have a camera connected yet (plan to use a USB camera), how do I get around this?
Which config do I need to edit (after etching) so it will stop doing this ?

[2019-03-17 15:49] nopub commented on #38
I stopped trying kerberosios and did it with raspbian. Works fine but one question -> I'll open another post.
Thanks for the nice product.

[2019-03-17 15:49] #38 closed, assigned to nobody

[2019-03-17 16:19] nopub opened #39 "Activity : no data available"
Hi,
Kerberosio seems to work fine, but I have a couple of questions.
- Under the Dashboard tab, for activities  I have no other data available then the live view. I do not see any other recorded video selecting or not a specific day, but videos are present on a external usb disk (I changed the io.xml file). Before changing the storage location of the images/videos, I was able to see activities. Do

[2019-03-17 17:54] cedricve commented on #38
@bennybubble by default the camera expects the raspberry pi camera, if not the system will try over and over until it recognises it.. that is what you see when you start up your raspberry pi when attached to an external screen.

What you need to do is change the config through the web interface or SSH into the Raspberry Pi, and change the config.xml file.

[2019-07-20 12:59] piyushroshan opened #40 "Raspberry Pi 4B support?"
Is there a plan to support Raspberry pi 4 anytime soon?

[2019-07-20 12:59] cedricve commented on #40
Yes it will come with the new release of kerberos.io 3.0

Cédric

[2019-09-26 02:27] natefanaro commented on #6
Is this still an issue? I have not tried this yet but according to the init script of memcached this wasn't resolved https://github.com/kerberos-io/kios/blob/master/board/common/overlay/etc/init.d/S63memcached#L4

Will this be fixed? I am trying to evaluate if I want to use this software. I generally trust the devices on my network and know not to expose this to the public internet. Still, seeing

[2019-09-26 03:24] armando444rt opened #41 "Kerberos simply not working"
Hi there, I am having major issues getting Kerberos to simply boot up on my raspberry pi 3 B+ my pi simply spits out "reading configuration file: /data/machinery/config/config.xml" then simply says xml file not found. I previously had Kerberos running on the same Pi a few months ago but decided to get a bigger SD card for the Pi and now this issue simply stops me from doing anything. I flashed the

[2019-10-01 17:43] avanc opened #42 "Installer does not work on Arch Linux"
I get the following error while starting the Appimage:

[code]
I'm using Arch Linux which I updated today.

[2019-10-01 17:46] avanc commented on #42
Unfortunately, the documentation for advanced installation is missing:
https://doc.kerberos.io/2.0/installation/installation/KiOS#advanced

[2019-10-17 15:05] thearduinoguy opened #43 "Just can't login"
I just cant login. Fresh install, tried several different image versions, same result - set up the username and password then the login page will not let me in. Even root/root does not work.

[2019-10-17 17:38] cedricve commented on #43
Which browser are you using @thearduinoguy ?

[2019-10-18 10:17] thearduinoguy commented on #43
I've tried it on Chrome, Edge and Firefox. Same results. Tried the most recent image and one back from that. Same result.

[2019-11-25 19:24] cedricve commented on #40
Support will be released very soon.

[2019-11-28 20:47] rogaven2002 commented on #42
I found kios today and downloaded it.
I'm using PCLinuxOS 64bit. Same error message.
installed pango 1.44.7 and harfbuzz 2.6.4
What can I do?
I would like to test the program.

[2019-11-30 20:48] cedricve commented on #40
RPi4 support will be released next week.

[2019-12-28 07:34] fozter commented on #40
No release yet, any ETA?

[2019-12-28 09:12] cedricve commented on #40
1st of jan 🙏

Kind regards,
Verstraeten Cédric

[2020-01-01 15:48] cedricve commented on #40
Support for Raspberry Pi is now available in version 2.8.0

[2020-01-01 15:48] #40 closed, assigned to cedricve

[2020-01-05 20:14] kbabka opened #44 "Installer does not work on version 2.8.0 with WiFi setup RPi3+"
Etcher installer frozen by downloading 100% and nothing happen.

When chosen wired configuration, its O.K.

[2020-01-05 20:15] cedricve commented on #44
Thanks for reporting, is it only when selecting WIFI? Or also with the Static IP?
Which OS are you using?

Cédric

[2020-01-05 20:16] kbabka commented on #44
Windows 10, dynamic IP, yes only by WiFi config

[2020-01-05 20:18] cedricve commented on #44
Interesting just received another ticket about the same issue. Would you have time to quickly verify if you use the combo (ethernet + static IP)?

Can confirm the downloading works, but once you reach 100%, it stops working.

[2020-01-05 20:22] kbabka commented on #44
I tested ethernet + static IP and also installer frozen on 100%.

[2020-01-05 20:25] cedricve commented on #44
Thanks the issue is here: https://github.com/kerberos-io/etcher/blob/master/lib/gui/app/modules/image-writer.js#L389.

Will need to have some time to debug, but we will get there. Thank for reporting.

[2020-01-05 20:56] cedricve commented on #43
Can you try with latest version 2.8.0?

[2020-01-05 20:56] cedricve commented on #41
Can you try again with version 2.8.0?

[2020-01-07 20:30] cedricve commented on #44
@kbabka we fixed the issue, can you please retry by downloading the installer again, and execute it.

[2020-01-07 20:59] kbabka commented on #44
Now installer freezes by "Starting ..." see picture

![image](https://user-images.githubusercontent.com/13314573/71928914-c77efe00-3198-11ea-9b08-aacd86a22cd7.png)

[2020-01-08 06:11] cedricve commented on #44
How long did you wait might take some time before the changed are applied during the starting process.

Kind regards,
Verstraeten Cédric

[2020-01-08 09:05] kbabka commented on #44
I waited about half an hour, maybe longer.
Regards
Karel

[2020-01-08 09:12] kbabka commented on #44
When I use original Etcher and download Kerberos.io image file version 2.8 for RPi3, put it in SD card and then copy the configuration files to the first partition, everything works including WiFi connection

[2020-01-08 09:16] cedricve commented on #44
You are right, the build is not correct. Will come back.

[2020-01-09 13:27] cedricve commented on #44
@kbabka, fixed and tested myself. Please give me your confirmation as well. Thanks!

[2020-01-09 20:04] kbabka commented on #44
Yes, I confirm that the installation is already OK.
Thanx.

[2020-01-09 20:04] #44 closed, assigned to cedricve, kbabka

[2020-01-27 07:18] cedricve commented on #43
@thearduinoguy ?

[2020-02-12 18:42] peskymerryherald opened #45 "Cannot initializate device with 2.8.0"
<img width="1086" alt="Screenshot 2020-02-12 at 11 50 10" src="https://user-images.githubusercontent.com/44213672/74366098-a3ce5980-4dcf-11ea-97c7-10e6b2aeddd5.png">

After installing a kios 2.8.0 in a raspberry pi zero, I get stuck in select language page.

[2020-02-12 18:43] cedricve commented on #45
thanks for reporting, will try to reproduce. any help is welcome though.

[2020-02-12 18:44] #43 closed, assigned to nobody

[2020-02-12 18:44] #41 closed, assigned to nobody

[2020-02-12 18:47] cedricve commented on #45
@peskymerryherald  what happens if you open in incognito?

[2020-02-12 18:49] peskymerryherald commented on #45
@cedricve, same error 😞

[2020-02-18 08:38] peskymerryherald commented on #45
Same it's happening to me with a Raspberry Pi 4.

[2020-02-19 11:07] xhozt commented on #37
confirmed here .

[2020-02-19 11:42] cedricve commented on #37
@xhozt which version?

[2020-04-06 10:22] igor-roje commented on #45
Same it's happening to me with a Raspberry Pi 3 Model B v 1.2.

[2020-04-06 10:52] cedricve commented on #45
igor didnt experience this.. tried to reproduce. What happens if you do a clean install?

[2020-04-06 11:18] igor-roje commented on #45
I will tray clean install for now if this png can help
![Izrezak](https://user-images.githubusercontent.com/5197737/78553153-1b859700-7809-11ea-87ed-4d632a0788c7.PNG)

[2020-04-06 11:23] cedricve commented on #45
thanks looks different, let me know if you did the reinstall.

[2020-04-06 11:28] igor-roje commented on #45
Did you meen reinstall kios image or

Iinstall the Kerberos  manually on Raspbian GNU/Linux 10.

[2020-04-06 11:29] cedricve commented on #45
I assume you installed it via KIOS?

[2020-04-06 11:40] igor-roje commented on #45
Yes I am

[2020-04-06 11:46] igor-roje commented on #45
OK, now I understand :

WARNING: Upgrading from a previous to 2.8.0 will not work. Please do a clean install

I do a clean install the first time and I get that error.

[2020-04-06 11:52] igor-roje commented on #45
Maybe this Internal Server Error help :
![Izrezak2](https://user-images.githubusercontent.com/5197737/78555681-d7e15c00-780d-11ea-835d-33f51681f0d8.PNG)

[2020-04-06 12:45] cedricve commented on #45
can you show what is in the response of the call (check the network tab)

[2020-04-06 16:37] igor-roje commented on #45
I installed the Kerberos manually on Raspbian GNU/Linux
and everything works fine so I am sure that the hardware works properly.
Tomorrow I will back to Kios and send you the response.

[2020-04-07 15:27] igor-roje commented on #45
Here is the response.
![Izrezak](https://user-images.githubusercontent.com/5197737/78687897-f1110800-78f4-11ea-9109-3b05e475b451.PNG)

[2020-04-07 15:28] cedricve commented on #45
hey @igor-roje, sorry cannot see your response.

[2020-04-07 15:43] igor-roje commented on #45
Sorry here it is.

[2020-04-07 15:43] igor-roje commented on #45
[response.txt](https://github.com/kerberos-io/kios/files/4445592/response.txt)

[2020-04-08 13:05] cedricve commented on #45
@igor-roje I just tested out myself what happens on the RPi 3 1.2, and it works just fine. So I'm wondering if we could look together during a video call? To help and understand what is happening?

[2020-04-08 13:22] igor-roje commented on #45
No problem what I need to do or install

[2020-04-08 13:24] cedricve commented on #45
Can you install teamviewer and send me your details (cedric@verstraeten.io <mailto:cedric@verstraeten.io>)

[2020-04-08 14:15] igor-roje commented on #45
Cedric,
Now it is working I dont no what you change

Igor

sri, 8. tra 2020. u 15:24 Cédric Verstraeten <notifications@github.com>
napisao je:

--
Igor Roje

LITIJ d.o.o.
Slavićeva 38
21000 Split
HRVATSKA
+385 98 359 111

[2020-04-08 15:42] igor-roje commented on #45
Cedric,

I figured out the problem!

First, I did a clean install and the problem was the same.
Then I logged in Pi and canged the date ( date -s "2020-04-08 17:34").
After that I passed the installation with no problems!

It is interesting that when I reset  Pi he loses the date but it is not a
problem anymore because I passed the installation step.

The idea came to me when I saw "1970 year" whe

[2020-04-08 18:12] cedricve commented on #45
Hmm that is strange, however great you find out! Not sure why the time sync is not working for you.
Are you within a highly secured network?

[2020-04-08 19:24] igor-roje commented on #45
No I don't think so, I am working from home these days.

sri, 8. tra 2020. u 20:12 Cédric Verstraeten <notifications@github.com>
napisao je:

--
Igor Roje

LITIJ d.o.o.
Slavićeva 38
21000 Split
HRVATSKA
+385 98 359 111

[2020-04-08 19:52] igor-roje commented on #45
I did clean install one more time but this time I set static_dns="83.139.103.3"
instead static_dns="192.168.0.1" in static_ip.conf which is my internet provider dns.
Now everything is working  fine.
Date and time are placed and installation is working fine.
Cedric thanks for your time.

[2020-06-29 14:56] grenade commented on #37
happens for me too pretty constantly on pi 3 and 4 as well (kios version 2.8.0).
issue happens after ip address changes caused by power outages. only workaround i have found is to reflash the sd card. had to buy a better rut955 router to lock the dhcp leases to the cameras and kios instances to save me having to go and reflash kios every time we have a power cut to the router, camera or kios devic

[2020-06-29 16:10] cedricve commented on #37
hmm that is weird @grenade , what do you see in the web logs?

[2020-06-30 19:46] cedricve commented on #37
@grenade  let me know if you want to elaborate on this issue.

[2020-07-01 09:24] grenade commented on #37
I will upload logs when I get the chance. I have a couple sdcards from borked kios instances.

[2020-07-01 09:27] cedricve commented on #37
Thank you I would be great to get this sorted out.

[2020-07-04 07:44] cedricve commented on #45
Will check why it's not working properly without any internet accesss.

[2020-07-17 20:39] jeroenjacobs79 opened #46 "Kios should not connect to an external MQTT server without permission"
### Preliminary Docs

I confirm that I have read the [CONTRIBUTING](https://github.com/ccrisan/motioneyeos/blob/master/.github/CONTRIBUTING.md) guide before opening this issue.

I confirm that I have read the [FAQ](https://github.com/ccrisan/motioneyeos/wiki/FAQ) before opening this issue.

### motionEyeOS Version

NA

### Board Model

I am using the following board/model: (insert your board model

[2020-09-03 11:59] litij commented on #46
Is there any workaround about this issue ?

[2020-09-03 12:05] cedricve commented on #46
hey, it's actually setting this connection up for our cloud application, butt if you didn't configured it, it will not do anything. For next version we will make sure the connection is not established when not needed. However if you are suspicious you can always block the ip in the firewall.

[2020-09-03 12:08] jeroenjacobs79 commented on #46
I had blocked those devices from connecting to the internet in my firewall, because there is absolutely zero reason it should connect to the internet without my permission.

@cedricve <s>Sorry, but I don't think that's true. I never setup the cloud stuff, and it still connects to that MQTT server on the internet. I have my firewall logs to prove it.</s> (misunderstood your previous remark, sorry)

[2020-09-03 12:09] jeroenjacobs79 commented on #46
@cedricve I would suggest to make either disable this completely, or inform the user during install that this happens (and clarify what data is being sent to this MQTT server).

[2020-09-03 12:18] cedricve commented on #46
That is the point I try to make.

@jeroenjacobs79 you should look into the source code, to see what it is doing. It establish the connection, but doesn't receive or send data if the cloud credentials are not entered. Anyhow, as mentioned this is something we will definitely will fix in next version, as it doesn't make sense to establish the connection anyhow (it's not good for anyone).

https://gi

[2020-09-23 14:22] hedjour opened #47 "Question Is Kerberos compatible with arducam Multicam 4cam board ?"
Hi,
Just a litle question is Kerberos compatible with the Arducam Multicam 4cam board ?
There is the description of the board : [https://www.arducam.com/product/multi-camera-v2-1-adapter-raspberry-pi/](https://www.arducam.com/product/multi-camera-v2-1-adapter-raspberry-pi/).
Thanks
Best regards.

[2020-10-02 14:14] Nanaki59 opened #48 "Edit root partition and change keyboard layout"
Hello,

I am not able to mount root partition in edit mode.
I found on your help page an article advising to edit the file : /data/etc/os.conf
Changing os_debug="false" to os_debug="true".

The problem is, this file does not exist.
I tried to create one file /data/etc/os.conf adding the os_debug parameter
I also tried to add this into the file /data/etc/kios.conf
After a reboot, root partition is

[2021-03-26 18:46] ABH10 opened #49 "Still images destroyed"
I am running KiOS version: 2.8.0
I am using the following board/model: Raspberry PI Zero WiFi.
I am using the following type of camera: RPi Camera v.1
My KiOS unit is connected to the network via: WiFi

Streaming and stored videos works fine, but storing images ("Disk") seems to very often destroy the images. It is as if some chunks of camera rows belongs to an earlier frame. The same RPi and Came

[2021-04-09 04:23] tgelite opened #50 "kerberosEtcher-1.5.70-x64.AppImage failing on ubuntu 20.04"
This issue does not fall into the template in a logical way, so I'll put this preamble here:

I'm attempting to run kerberosEtcher-1.5.70-x64.AppImage on ubuntu 20.04

The gui comes up, lets me select version 2.8.0 to image with, and set up the network configuration, it also lets me select the SD card properly, but when I go to apply the image, it appears for a second to start, i see the promotion

[2021-04-09 04:33] tgelite commented on #50
note when I sudo the launch of kerberosEtcher-1.5.70-x64.AppImage the same thing happens..

This is all I see in the console I launch it from command line:

[code]

and this is the syslogi output that comes up at the time of attempting to start imaging

[code]

[2021-04-27 21:33] dartie1987 opened #51 "https://github.com/kerberos-io/kios/issues/50#issue-854144679"
### motionEyeOS Version

I am running KiOS version: (insert your version here, e.g. v2.8.0).

### Board Model

I am using the following board/model: (insert your board model here, e.g. Raspberry PI 3B+).

### Camera

I am using the following type of camera: (choose from V4L2, MMAL, Network Camera, Fast Network Camera and Simple MJPEG Camera).

My camera model is: (insert your camera model, e.g. Lo

[2021-04-28 03:30] lachlanbrewster1 commented on #50
I have the exact same issue, left for about 30 minutes, no luck. The process itself seems to be _slowly_ writing something when I view it in system monitor (~5mb total).

Just flashed the plain image using standard balena etcher for now.

[2021-06-02 08:19] madhavkhoslaa opened #52 "/dev/root is 97% utilised on a fresh kios install."
### motionEyeOS Version

I am running KiOS version: v2.8.0

### Board Model

Raspberry Pi 3

### Camera

I am using the following type of camera: Simple MJPEG Camera.

My camera model is: Generic USB Camera

### Network Connection

My KiOS unit is connected to the network via: WiFi.

### Peripherals

None

[2022-02-10 08:17] kr15h commented on #50
Same issue.

[2022-03-03 04:15] raipat opened #53 "release for Raspberry pi Zero 2"
Please release an image that can be booted in a Raspberry pi Zero 2.
I tried the images for pi1 und pi3 (the Raspberry pi Zero 2 basically is a pi3 in a pi zero W form factor) but they can't be booted as this new board requires a recent kernel/OS.

### motionEyeOS Version

I am running KiOS version:  v2.8.0

### Board Model

I am using the following board/model: raspberry pi Zero 2

### Camera

I

[2022-03-30 18:54] Fabeson commented on #45
I know this got a bit stale but since 2 years have passed without an update: @igor-roje fix to manually set the date via eg.
`date -s "2022-03-30 20:00"` is still valid and helped me out in getting through the initial setup - Thanks a lot!

[2022-04-28 10:04] maxvaneck opened #54 "Kios fails to boot on a raspberry pi 4 B with 4 GB ram"
When writing the image to the 12GB sd card everything works perfectly. but when booting the raspberry pi for the first time with the fresh install we get the notification. . unsupported software please download the latest version from https://www.raspberrypi.com. We tried finding our error since kios works perfectly fine with the old raspberry pi 3 we had on hand. We tried updating the eeprom but

[2022-05-05 13:01] MUzzell opened #55 "Image distortion on IPCamera"
### motionEyeOS Version

I am running KiOS version: 2.8.0

### Board Model

[code]

I am using the following board/model: Raspberry Pi 4 1GB

### Camera

My camera model is: Reolink RLC-510 (using a pw protected RTSP 'fluent' stream 480x640)

### Network Connection

My KiOS RPi is connected to the network via: Ethernet to the camera, wireless to the internet (Kerberos Hub)

### Peripherals

I am u

[2022-05-08 20:35] damanbaird commented on #54
same here, maybe eeprom needs to be rolled back to about the date of the 2.8.0 release?

[2022-05-11 11:56] maxvaneck commented on #54
while that may fix the issue it does not address the underlying problem of kios being unable to handle newer bootloader versions

[2022-05-12 08:51] maxvaneck commented on #54
unortunately the rpi-eeprom-update tool rejects the 2019 eeprom due  to an illegal date error .
so it seems that for the rpi 4 an update to kios will be necessary ehich  looking at te release cadence will be hopefully be somewhere in june/july.  i could install the flashing utility version from 2019 but at this point we're getting in such a mess of mismatched/old software versions that i'm startin

[2022-09-09 11:15] Mehuls90 opened #56 "Installation failed in RPi4 firmware 5.15.61-v7l+"
### I have an Raspberry pi4 board with 4 GB armv7l GNU\Linux.

I have tried installing KIOS release 2.8.0 on this board but it does not boot on board with error to use new software version.

I installed raspi linux on board and then installed kios using raspian kios installation method as suggested in docs.

I was able to open web page but the machinery engine was not started despite IP camera con